<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>A.D. Trendall Research Centre for Ancient Mediterranean Studies</title>
    
    {% load static %}
    <!--JQuery-->
    <script src="httmps://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>

    <!--Our Stylesheet-->
    <link 
        rel="stylesheet"
        type="text/css" 
        href="{%static 'css/index.css' %}" /> 
    
    <!--Import Roboto Regular Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet">
    
    <!--Import Nunito Light 300-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

  </head>

  <body>
    <div id="main">
      <div id="app"></div>
    </div> 
      
      
    </div>
    
    <!--Load main.js bundle-->
    <script src="{%static "frontend/main.js"%}"></script>
  </body>
</html>
